<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title><%= title %></title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='http://localhost:3000/js/client.js'></script>

</head>


<body>
   <table border='1'>
        <tr>
            <td>글 제목</td><td><input id="board_title" placeholder="제목을 입력하세요"></td>
        </tr>
        <tr>
            <td>글 내용</td><td><textarea id='board_content' placeholder="내용을 입력하세요" rows='10' cols='60'></textarea></td>
        </tr>
      
   </table>

   <button id="board_write_btn">등록</button>
   <button type="reset">취소</button>


</body>


</html>