/* *{color:green; font-size:15px;}
 */
 

table, tr, td {border:1px solid black;}

table {	width:100%;height:700px;border-collapse: collapse;}

#title {height:20%; }

.c1{width:15%;}

#copyright{height:10%;}

h1 {background: orange;}
h1:hover {background: black;color: white;}
h1:active{	background: white;	color: black;}
h1:before{content:url(../image/shop2.png);}
h1:after{content:"(HTML+CSS+Javascript)"; font-size:small; color:red;}

p{background: aqua;}
p::first-letter{color:red;	font-size:50px;	font-weigh:blod;}
p::first-line{backgroud: gold;}
/*
li:first-child{color:red}
li:last-child{color: blue;};
li:nth-child2(2){color: yellow;}
li:nth-last-child(2){color:gray;}
*/

ol > li {color:red;}
input[type="text"] { color:red;}

input[required] {background:gold; color:blue;}
input[disabled] {color:green;}


h3{background: gray; color: white;}
#b1{background: green; width:150px; height:50px;
	margin:20px;
	border-width:20px;
	border-style:solid;
	border-color:gray;
	padding:20px;
}
#b2{background: orange; width:150px; height:50px;
	margin:20px;
	border: 10px black double;
	padding: 10px 30px;
}

#span1{background: yellow;}
#span2{background: cyan;}

#style1{
	background: lightgray;
	width: 200px;
	margin: 0;
	padding: 0;
}

#style2{
	background: lightgray;
	pdding: 6px;
	
}
.li_style{
	display:inline;
	padding: 10px 20px;
}

.a_style{
	color: black;
	padding: 5px 20px;
	text-decoration: none;
}

.a_style:hover{
	background: gray;
	color: white;

}


li{
	display:inline;
	padding: 10px 20px;
}
li a{
	padding: 5px 10px;
	color: black;
	text-decoration: none;
}
li a:hover{
	background: darkgray;
}
li.li_style{
	display: inline-block;
}

.dropdown-content {
	display:none;
	position: absolute; 
	background: ghostwhite;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
	display:block;
	padding:12px 16px;
	text-decoration:none;
	text-align: left;
	color: black;
}
.dropdown-content a:hover{
	background: lavender;
}
.li_style:hover .dropdown-content{
	display: block;	
}















